version: "3.8"

services:
  mongo:
    image: mongo:8
    container_name: local-mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: strongpass123
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
